.container {
  width: 480px;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

.car-card {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: lightblue;

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.Benzinas {
  background: green;
  color: white;
}

.Dyzelis {
  background: grey;
  color: white;
}

.Eketra {
  background: lightblue;
  color: white;
}
